<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Socket.io</title>
        <link rel="stylesheet" type="text/css" href="assets/css/codemirror.css">
        <link rel="stylesheet" type="text/css" href="assets/css/base16-dark.css">
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="assets/js/codemirror.js"></script>
		<script src="assets/js/mode_javascript.js"></script>
	    <script src="/socket.io/socket.io.js"></script>

    </head>
    <body>
    	<div id="codeShare"></div>
    	<i>Utilisateurs :</i>
    	<ul id="userConnected"></ul>
    </body>


   
    <script>
    	var codeMirror = CodeMirror(document.body, {
			  value: "function myScript(){return 100;}\n",
			  mode:  "javascript",
			  themes: "base16-dark"
			});
        function fingerprint() {
            var canvas = document.createElement('canvas');
            var ctx = canvas.getContext('2d');
            var txt = 'i9asdm..$#po((^@KbXrww!~cz';
            ctx.textBaseline = "top";
            ctx.font = "16px 'Arial'";
            ctx.textBaseline = "alphabetic";
            ctx.rotate(.05);
            ctx.fillStyle = "#f60";
            ctx.fillRect(125,1,62,20);
            ctx.fillStyle = "#069";
            ctx.fillText(txt, 2, 15);
            ctx.fillStyle = "rgba(102, 200, 0, 0.7)";
            ctx.fillText(txt, 4, 17);
            ctx.shadowBlur=10;
            ctx.shadowColor="blue";
            ctx.fillRect(-20,10,234,5);
            var strng=canvas.toDataURL();    
            var hash=0;
            if (strng.length==0) return 'nothing!';
            for (i = 0; i < strng.length; i++) {
                char = strng.charCodeAt(i);
                hash = ((hash<<5)-hash)+char;
                hash = hash & hash;
            }
            return hash;
        }
        </script>
       
        <script>
			
            var socket = io('http://localhost:8080');
		
			socket.emit('joinRoom', {
                idRoom : window.location.pathname.split('/')[1],
                fingerPrint: fingerprint()
            });

            socket.on('message', function(message) {
                alert(message);
            })

            socket.on('userJoinRoom', function(results) {
            	console.log(results);
                var userList = "";
                results.writers.forEach(function(e){
                	userList += "<li id="+e.id+">👑 "+e.username+"</li>";
                });

                results.users.forEach(function(e){
                	userList += "<li id="+e.id+">"+e.username+"</li>";
                });
                $('#userConnected').html(userList);
            })

            socket.on('getCode',function(res) {
                $('#codeShare').val(res);
            })
      
            $('#codeShare').keyup(function () {
                socket.emit('writting', {
                	content : $('#codeShare').val(),
                	idRoom : window.location.pathname.split('/')[1]
            	});
            })
        </script>
</html>